<div class="container">
    <h1 class="text-center mt-3">About Me</h1>
    <div class="row justify-content-center">

        <div class="col-12 text-center">
            <img src="{{ url_for('static', filename='img/aboutme.gif') }}"
                 alt="About Me GIF" class="img-thumnail img-fluid rounded" style="height: 300px; ">
        </div>
        <div class="col-md-10 col-12 mt-4 ">
            <p  style="text-align:justify; text-indent:5ch"  >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corporis rem architecto corrupti accusantium dolorum, laudantium, inventore quaerat asperiores adipisci, totam eius fuga? Accusantium, vel odit! Nisi odio perspiciatis molestias consequuntur nam aut sapiente alias illum laudantium architecto repudiandae ab facilis, ex et, fuga sint eius eveniet debitis tempora adipisci excepturi illo nemo, perferendis soluta. Minus esse temporibus, fugiat impedit magnam dignissimos doloremque sit velit molestias nesciunt at soluta ex, optio, eligendi dolores rem enim. Esse expedita enim nam vitae quam nostrum magnam, inventore dolores placeat aperiam error non deleniti tempore suscipit maiores quo neque commodi earum. Obcaecati, sequi tempora.
                <a href="/profile">See Qualifications</a>
            </p>
            
        </div>

    </div>
</div>