
<div class="container">
  <div class="row justify-content-center">
      <h2 class="text-center mt-5 mb-4">CONTACT US</h2>

      <div  class="col-10 col-md-6">
          <form  action="/submit_contact_form" method="POST" class="contact-form">
              <div class="form-group mt-2">
                <label for="name">Enter Name</label>
                <input type="text" class="form-control mt-1" id="name" name="name" placeholder="Enter name">
              </div>

              <div class="form-group mt-2">
                  <label for="email">Enter Email</label>
                  <input type="email" class="form-control mt-1" name="email" id="email" placeholder="">
                </div>
              <div class="form-group mt-2">
                <label for="formGroupExampleInput2">Enter Message</label>
                <input type="textarea" class="form-control mt-1" name="message" id="formGroupExampleInput2" placeholder="Another input">
              </div>

              <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
      </div>
  </div>

</div>

